<div class="parent">
  <h1>Just a few simple steps before we know it's you</h1>
  <div class="btn-parent">
    <button class="btn blue" (click)="changeColor1()" > <a routerLink="/">1</a> </button>
  <span *ngIf="!btn2 else changecolor2" >
    <button class="btn" (click)="changeColor2()" > <a routerLink="/second">2</a> </button>
  </span>
  <ng-template #changecolor2>
    <button class="btn blue" (click)="changeColor2()" > <a routerLink="/second">2</a> </button>
  </ng-template>
  <span *ngIf="!btn3 else changecolor3" >
    <button class="btn" (click)="changeColor3()" > <a routerLink="/third">3</a> </button>
  </span>
  <ng-template #changecolor3>
    <button class="btn blue" (click)="changeColor3()" > <a routerLink="/third">3</a> </button>
  </ng-template>
  <span *ngIf="!btn4 else changecolor4" >
    <button class="btn" (click)="changeColor4()" > <a routerLink="/fourth">4</a> </button>
  </span>
  <ng-template #changecolor4>
    <button class="btn blue" (click)="changeColor4()" > <a routerLink="/fourth">4</a> </button>
  </ng-template>
</div>
<div class="first-component"  *ngIf="!btn2 && !btn3 && !btn4">
  <h1>Your registered mobile number</h1>
  <form  #firstcomponent="ngForm" class="form" (ngSubmit)="onSubmit(firstcomponent.value)">
    <input type="text" name="phone" required [(ngModel)]="phoneNo" >
    <button type="submit" (click)="changeColor2()"><a routerLink="/second">Login -></a></button>
  </form>
</div>
  <router-outlet></router-outlet>
</div>
