<div class="first-component">
    <h1>Kindly verify your Year of Birth</h1>
    <form #firstcomponent="ngForm" class="form">
        <input type="radio" name="phone" required>
        <label class="label">
            <span class="checkmark" (click)="onClick1()">
                1984
                <span *ngIf="font1"  class="checkfont"><i class="fa-solid fa-circle-check"></i></span>
            </span>
     
        </label>
        <label class="label">
             <span class="checkmark" (click)="onClick2()">
                1984
                <span *ngIf="font2"  class="checkfont"><i class="fa-solid fa-circle-check"></i></span>
            </span>
      
        </label>
        <label class="label">
            <a routerLink="/fourth"><span class="checkmark" (click)="onClick3()">
                1984
                
                <span *ngIf="font3"  class="checkfont"><i class="fa-solid fa-circle-check"></i></span>
            </span>
            </a>
        </label>
        <label class="label">
             <span class="checkmark"  (click)="onClick4()">
                1984
                <span *ngIf="font4" class="checkfont"><i class="fa-solid fa-circle-check"></i></span>
            </span>
       
        </label>

    </form>
</div>
<router-outlet></router-outlet>
